server {
    listen 80;
    server_name {{ python_app_domain }} www.{{ python_app_domain }};

    location / {
        include uwsgi_params;
        uwsgi_pass {{ python_app_domain }}:{{ python_app_port }};
    }

    access_log /var/log/nginx/{{ python_app_domain }}.log;
    error_log /var/log/nginx/{{ python_app_domain }}-error.log error;
}

server {
    listen 80;
    server_name {{ golang_app_domain }} www.{{ golang_app_domain }};

    location / {
        proxy_pass {{ golang_app_domain }}:{{ golang_app_port }};
    }
}
