server {
    listen 80 default_server;
    server_name my-proxy.com;

    location / {
        root /var/www/{{ local_page_domain }}/public;
        index index.html index.htm index.php;

        charset utf-8;
        include h5bp/basic.conf;
        location = /favicon.ico { log_not_found off; access_log off; }
        location = /robots.txt { log_not_found off; access_log off; }
    }

    location /python/ {
        proxy_pass http://{{ python_app_ip }}:{{ python_app_port }}/;
        include uwsgi_params;
    }

    location /golang/ {
        proxy_pass http://{{ golang_app_ip }}:{{ golang_app_port }}/;
    }

    access_log /var/log/nginx/proxy.log;
    error_log /var/log/nginx/proxy-error.log error;
}
